<%= form_for @subcategory do |f| %>
	<% if @subcategory.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@category.errors.count, "error") %> Their are some error occured when saving sub-category details:</h4>
			<ul>
				<% @category.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :category_id %>
		<%= f.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Select Category' } ) %> 
	</div>

<% end %>