<div class="order-search-container">
  <div class="heading-container">
    <span class="head">Subcategory Details</span>
  </div>
  <div class="search-container">
    <div class="search-oder-wrapper">
      <input type="text" id="myInputTextField" placeholder="Search">
    </div>
    <div class="total-order-wrapper">
      <p class="total-amount-p">
        <% if can? :create, Subcategory %>
 			 <%= link_to 'New Subcategory', new_subcategory_path,{class:"btn btn-default"} %>
		<% end %>
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show/Hide Panel</a>
      </p>
    </div>
  </div>
</div>
<table id="subcategoryTable">
	<thead>
	<tr>
		<th>Sub Category Name</th>
		<th>Description</th>
		<th>Category</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
		<% @subcategory.each do |subcat| %>
		<tr>
			<td><%= subcat.name %></td>
			<td><%= subcat.description %></td>
			<td><%= subcat.category.name unless subcat.name.nil?%></td>
			<td><%= link_to 'Show', subcat %>
				<% if can? :update, Subcategory %>
  					|<%= link_to 'Edit', edit_subcategory_path(subcat)%>|
				<% end %>
				<% if can? :destroy, Subcategory %>
					<%= link_to 'Delete', subcat, method: :delete, data: { confirm: 'Are you sure? category details will be deleted.' } %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<script>
$(document).ready(function(){
	oTable = $('#subcategoryTable').DataTable( {
      "sDom": '<"top"i>rt<"bottom"flp><"clear">'
    });   
	$('#myInputTextField').keyup(function(){
	      oTable.search($(this).val()).draw() ;
	});
});
</script>