<div class="order-search-container">
  <div class="heading-container">
    <span class="head">User Deatail</span>
  </div>
  <div class="search-container">
    <div class="search-oder-wrapper">
      <input type="text" id="myInputTextField" placeholder="Search">
    </div>
  </div>
</div>
<table id="userTable">
<thead>
	<tr>
		<th> User ID </th>
		<th> Name </th>
		<th> Role </th>
		<th> Phone </th>
		<th> Email </th>
		<th> address </th>
		<th> city </th>
		<th> state </th>
		<th> country </th>
		<th> Edit </th>
		<th> Destroy </th>
	</tr>
</thead>
<tbody>
<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.role.name %></td>
		<td><%= user.phone %></td>
		<td><%= user.email %></td>
		<td><%= user.address %></td>
		<td><%= user.city %></td>
		<td><%= user.state %></td>
		<td><%= user.country %></td>
		<td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
		<td>
			<% if can? :destroy, user %>
				<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</td>
	</tr>
<% end %>
</tbody>
</table>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show/Hide Panel</a>


<script>
$(document).ready(function(){
	oTable = $('#userTable').DataTable( {
      "sDom": '<"top"i>rt<"bottom"flp><"clear">'
    });   
	$('#myInputTextField').keyup(function(){
	      oTable.search($(this).val()).draw() ;
	      total();
	});
});
</script>