<%= form_for @brand do |f| %>
	<% if @brand.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@brand.errors.count, "error") %> Their are some error occured when saving brand details:</h4>

			<ul>
				<% @brand.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :subcategory_id %>
		<%= f.collection_select(:subcategory_id, Subcategory.all, :id, :name, { :prompt => 'Select subategory' } ) %> 
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>