<div class="cart-container">
    <h2>Cart(<%= current_user.cart_count %>)</h2>
    <% quantity = 0 %>
        <table class="cart-table">
        <tr>
            <td colspan=2>ITEM</td>
            <td>QTY</td>
            <td>PRICE</td>
            <td>DELIVERY DETAILS</td>
            <td>SUBTOTAL</td>
            <td></td>
        </tr>
        <% @cart_products.each do |cart_product| %>
            <tr>
                <td>
                    <%= image_tag cart_product.avatar.url(:thumb) %>
                </td>
                <td>
                    <%= cart_product.description %>
                </td>
                <td>
                    <input name="select" id="select[<%= cart_product.id %>]" type="text" class="gbutton" size="2"/>
                </td>
                <td>
                    &#8377;<%= cart_product.unit_price %>
                </td>
                <td>
                    Free.
                </td>
                <td>

                </td>
                <td>
                <%= link_to 'Remove', remove_from_cart_path(cart_product), method: :put, class:"btn btn-primary" %>
                </td>
        <% end %>
    </table>
    <br/>
    <%= link_to '<Continue Shopping', catalog_index_path,{ class:"btns" }%>
    <%= link_to 'Place Order',{:controller => 'orders', :action =>'new'},{ class:"btns" }%>
   
   
</div>

<script type="text/javascript">
	$(".gbutton").click(function(){
        var getID = this.id.split("_");
        alert(getID[1]);
});
</script>