<div class="cart-container">
<div class="order-search-container">
    <div class="search-container">
        <div class="total-order-wrapper">
            <p class="total-amount-p">
                Total(&#8377;): <span id="total"></span>
            </p>
        </div>
    </div>
</div>
    <br/><br/>
    <%= form_tag("/orders/new", method: "get") do %>
        <table class="cart-table">
        <tr>
            <th colspan=2>ITEM</th>
            <th>QTY</th>
            <th>PRICE</th>
            <th>DELIVERY DETAILS</th>
            <th>SUBTOTAL</th>
            <th></th>
        </tr>
        <% @cart_cat_id = @cart_products.last %>
        <% @cart_products.each_with_index do |cart_product, index| %>
            <tr id="product-record-<%=index%>" data-index="<%=index%>">
                <input type="hidden" name="product[<%=index%>]" id="product_<%=index%>" value="<%= cart_product.id %>"/>
                <td>
                    <%= image_tag cart_product.avatar.url(:thumb) %>
                </td>
                <td>
                    <%= cart_product.description %>
                </td>
                <td>
                    <input name="quantity[<%=index%>]" id="quantity_<%=index%>" type="number" class="change_subtotal" size="2" value="1" min='1'/>
                </td>
                <td>
                    <input type="hidden" name="price[<%=index%>]" id="price_<%=index%>" value="<%= cart_product.unit_price %>"/>
                    &#8377;<%= cart_product.unit_price %>
                </td>
                <td>
                    Free.
                </td>
                <td>
                    <span id="subtotal_<%=index%>"></span>
                </td>
                <td>
                <%= link_to 'Remove', remove_from_cart_path(cart_product), method: :put, class:"btn btn-primary" %>
                </td>
        <% end %>
        </table>

        <button type="button" class="btns" data-toggle="collapse" data-target="#user_form">Checkout</button>
          <div id="user_form" class="collapse">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="user_name" id="user_name" value="<%= current_user.name %>"/>

                    </div>

                    <div class="field">
                        <label>Address</label>
                        <input type="textarea" name="user_address" id="user_address" value="<%= current_user.address %>"/>
                    </div>

                    <div class="field">
                       <label>Phone</label>
                        <input type="text" name="user_phone" id="user_phone" value="<%= current_user.phone %>"/> 
                    </div>

                    <div class="field">
                        <label>Pincode</label>
                        <input type="text" name="user_pincode" id="user_pincode" value="<%= current_user.pincode %>"/> 
                    </div>
          </div>
   
       
        <%= submit_tag("Place Order",:class=>"btns") %>

    <% end %>
    
</div>

<script>
$(document).ready(function(){
    subtotal();
    $(".change_subtotal").change(function(){
        subtotal();
    });

    $(".change_subtotal").change(function(){
        check_stock();
    });
}); 

function subtotal(){
    var subtotal = 0;
    var quantity=0
    var total=0
    var price=0;
    $("tr[id*='product-record-']").each(function(){
        price = $("input[id*='price_"+$(this).attr("data-index")+"']").val();
        quantity=$("input[id*='quantity_"+$(this).attr("data-index")+"']").val();
        subtotal = Number(price) * Number(quantity);
        $("span[id='subtotal_"+$(this).attr("data-index")+"']").html(subtotal)
        total+=subtotal;
    })
    document.getElementById("total").innerHTML=total;
}

function check_stock(){
    $("tr[id*='product-record-']").each(function(){
        var quantity = $("input[id*='quantity_"+$(this).attr("data-index")+"']").val();
        var index = $(this).attr("data-index");
        var unit=0;
        $.ajax({
            url: '/carts/unit',
            data:{
                'product_id':$("input[id*='product_"+$(this).attr("data-index")+"']").val(),
                'quantity': quantity
            },                            
            type: 'GET',
            dataType: 'json',
            success: function (dataSet, textStatus, jqXHR) {
               if(!$.isEmptyObject(dataSet)){
                        unit = dataSet.unit_in_stock;
                        document.getElementById("quantity_"+index).max = Number(unit);
                }
              }
        });
    });
}

</script>