<%= form_for @shipper do |f| %>
	<% if @shipper.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@shipper.errors.count, "error") %> Their are some error occured when saving shipper details:</h4>

			<ul>
				<% @shipper.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :company_name %>
		<%= f.text_field :company_name %>
	</div>

	<div class="field">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>

	<div class="field">
		<%= f.label :no_of_day %>
		<%= f.text_field :no_of_day %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>