<table id="shipperTable">
	<thead>
		<tr>
			<th>Comapny name</th>
			<th>Phone</th>
			<th>No od days required for delivery</th>
			<th>Show</th>
			<th>Edit</th>
			<th>Destroy</th>
		</tr>
	</thead>
	<tbody>
		<% @shipper.each do |shipper| %>
		<tr>
			<td><%= shipper.name %></td>
			<td><%= shipper.description %></td>
			<td><%= shipper.no_of_day %></td>
			<td><%= link_to 'Show', shipper %></td>
			<td><%= link_to 'Edit', edit_shipper_path(shipper)%></td>
			<td><%= link_to 'Delete', shipper, method: :delete, data: { confirm: 'Are you sure? category details will be deleted.' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<script>
$(document).ready(function(){
    $('#shipperTable').DataTable();
});
</script>