<style type="text/css">
.error {
    color: red;
}
</style>
<div class="login-container-fluid">
	<div class="login-container">
		<div class="login-wrapper">
			<%= devise_error_messages! %>
			<h3>Welcome Back!..Log in</h3>
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :id => "signinForm"}) do |f| %>
				<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, required: false, autofocus: true,class:"form-control" %>
				</div>

				<div class="field">
					<%= f.label :password %>
				<%= f.password_field :password, required: false,class:"form-control" %>
				<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				</div>

				<div class="form-actions">
				<%= f.button(:submit,"Log in", {class:"btn btn-login" }) %>
				</div>
				<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
      $("#signinForm").validate({
        rules: {
          "user[email]": {
            required: true,
            email: true
          },
          "user[password]":{
            required:true,
            minlength: 8
          }  
        },

        messages: {
          "user[email]":{
          	required:"Please enter your email",
          	email:"Please enter valid email"
          },
          "user[password]":{
          	required:"Please enter your password",
          	minlength:"password should contain 8 characters"
          }
        },
        highlight: function (element) {
            $(element).addClass('error')
        },
        unhighlight: function (element) {
            $(element).removeClass('error')
        },
        submitHandler: function(form) {
            form.submit();
        }
        
        });

 });

</script>