<div class="order-search-container">
  <div class="heading-container">
    <span class="head">Listing Roles</span>
  </div>
  <div class="search-container">
    <div class="search-oder-wrapper">
      <input type="text" id="myInputTextField" placeholder="Search">
    </div>
    <div class="total-order-wrapper">
      <p class="total-amount-p">
        <% if can? :create, Role %>
          <%= link_to 'New Role', new_role_path %>
        <% end %>
      </p>
    </div>
  </div>
</div>


<table id="roleTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= link_to 'Show', role %></td>
        <td>
            <% if can? :update, role %>
                <%= link_to 'Edit', edit_role_path(role) %>
            <% end %>
        </td>
        <td>
          <% if can? :destroy, role %>
            <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready(function(){
    oTable = $('#roleTable').DataTable( {
      "sDom": '<"top"i>rt<"bottom"flp><"clear">'
    });   
    $('#myInputTextField').keyup(function(){
        oTable.search($(this).val()).draw() ;
        total();
    });
});
</script>