<table class="display-table">
	<tr>
		<th>Brand name</th>
		<th>Description</th>
		<th>Sub Category</th>
	</tr>
	<% @brand.each do |brand| %>
	<tr>
		<td><%= brand.brand_name %></td>
		<td><%= brand.description %></td>
		<td><%= brand.subcategory.name %></td>
		<td><%= link_to 'Show', brand %></td>
		<td><%= link_to 'Edit', edit_brand_path(brand)%></td>
		<td><%= link_to 'Delete', brand, method: :delete, data: { confirm: 'Are you sure? category details will be deleted.' } %></td>
	</tr>
	<% end %>
</table>
