<table id="categoryTable">
	<thead>
	<tr>
		<th>Category name</th>
		<th>Description</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Destroy</th>
	</tr>
	</thead>
	<tbody>
	<% @category.each do |cat| %>
	<tr>
		<td><%= cat.name %></td>
		<td><%= cat.description %></td>
		<td><%= link_to 'Show', cat %></td>
		<td><%= link_to 'Edit', edit_category_path(cat)%></td>
		<td><%= link_to 'Delete', cat, method: :delete, data: { confirm: 'Are you sure? category details will be deleted.' } %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<script>
$(document).ready(function(){
    $('#categoryTable').DataTable();
});
</script>