<table class="display-table">
	<tr>
		<th>Category name</th>
		<th>Description</th>
		<th>
	</tr>
	<% @category.each do |cat| %>
	<tr>
		<td><%= cat.name %></td>
		<td><%= cat.description %></td>
		<td><%= link_to 'Show', cat %></td>
		<td><%= link_to 'Edit', edit_category_path(cat)%></td>
		<td><%= link_to 'Delete', cat, method: :delete, data: { confirm: 'Are you sure? category details will be deleted.' } %></td>
	</tr>
	<% end %>
</table>
