<div class="form-product-container">
  <div class="form-product-wrapper">
      <%= form_for(@product, html: { multipart: true }) do |f| %>
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
         <div class="form form-wrapper-left">

              <div class="field">
                <%= f.label :product_name %><br>
                <%= f.text_field :product_name, class:"form-control" %>
              </div>
              <div class="field">
                <%= f.label :description %><br>
                <%= f.text_area :description, rows: 6, class:"form-control" %>
              </div>
              <div class="field">
                <%= f.label :unit_price %><br>
                <%= f.number_field :unit_price, class:"form-control" %>
              </div>
               <div class="field">
                <%= f.label :total_unit %><br>
                <%= f.number_field :total_unit, class:"form-control" %>
              </div>
              <div class="field">
                <%= f.label :unit_in_stock %><br>
                <%= f.number_field :unit_in_stock, class:"form-control" %>
              </div>
               <div class="field">
                <%= f.label :discount %><br>
                <%= f.number_field :discount, class:"form-control" %>
              </div>
          </div>
           <div class="form form-wrapper-right">

                <div class="field">
                  <%= f.label :avatar %><br>
                  <%= f.file_field :avatar %>
                </div>

                <div class="field">
                  <%= f.label :category_id %><br>
                  <%= f.collection_select(:category_id, Category.all, :id, :name, { :prompt => "Select Category" }, class:"form-control" ) %>
                </div>

                 <div class="field">
                  <%= f.label :subcategory_id %><br>
                  <%= f.collection_select(:subcategory_id, Subcategory.all, :id, :name, { :prompt => "Select Sub Category" }, class:"form-control" ) %>
                </div>

                 <div class="field">
                  <%= f.label :brand_id %><br>
                  <%= f.collection_select(:brand_id, Brand.all, :id, :name, { :prompt => "Select Brand" }, class:"form-control" ) %>
                </div>
                <div class="actions">
                  <%= f.submit class:"btn btn-primary btn-form" %>
                </div>
            </div>
      <% end %>
  </div>
</div>
