<p id="notice"><%= notice %></p>

<h1 class="h11">Listing Products</h1>

<table>

    <% @product.each do |product| %>
      <tr>
        <td class="product-image"><%= image_tag product.avatar(:thumb) if product.avatar? %></td>
        <td class="product_name">
          <%= product.product_name %>
        </td>
        <td class="product-description"><%= product.description %></td>
       
        <td class="product-info">
          <%= product.category.name %>
          <%= product.subcategory.name %>
           <%= product.total_unit %>
          <%= product.unit_price %>
          <%= product.unit_in_stock %>
        </td>
        <td class="product-actions">
          <% if can? :update, product %>
            <%= link_to 'Edit', edit_product_path(product) %>
          <% end %>
        </td>
        <td class="product-actions">
          <% if can? :destroy, product %>
             <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Product %>
  <%= link_to 'New Product', new_product_path %>
<% end %>