<div class="order-search-container">
  <div class="heading-container">
    <span class="head">Product Details</span>
  </div>
  <div class="search-container">
    <div class="search-oder-wrapper">
      <input type="text" id="myInputTextField" placeholder="Search">
    </div>
    <div class="total-order-wrapper">
      <p class="total-amount-p">
        <% if can? :create, Product %>
          <%= link_to 'New Product', new_product_path,{class:"btn btn-default"} %>
        <% end %>
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show/Hide Panel</a>
      </p>
    </div>
  </div>
</div>

<table id="productTable">
    <thead>
          <tr>
            <th> Product ID </th>
            <th> Product Image</th>
            <th> Product name </th>
            <th> Category </th>
            <th> Subcategory </th>
            <th> Total unit</th>
            <th> Unit Price </th>
            <th> Unit in Stock </th>
            <th> Brand </th>
            <th> Seller </th>
            <th> Show </th>
            <th>Edit/Delete</th>
          </tr>
    </thead>
    <tbody>
    <% @product.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= image_tag product.avatar(:thumb) if product.avatar? %></td>
        <td><%= product.product_name %></td>
        <td><%= product.category.name %></td>
        <td><%= product.subcategory.name %></td>
        <td><%= product.total_unit %></td>
        <td><%= product.unit_price %></td>
        <td><%= product.unit_in_stock %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.user.name if product.user_id.present? %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td>
          <% if can? :update, Product %>
            <%= link_to 'Edit', edit_product_path(product) %>
          <% end %>
        |
          <% if can? :destroy, Product %>
             <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


            
<script>
$(document).ready(function(){
    oTable = $('#productTable').DataTable( {
      "sDom": '<"top"i>rt<"bottom"flp><"clear">'
    });   
  $('#myInputTextField').keyup(function(){
      oTable.search($(this).val()).draw() ;
  });
});
</script>