  <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                   Admin Panel
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <%= link_to "User", users_index_path %>
                </li>
                <li>
                   <%= link_to "Product", products_path %>
                </li>
                <li>
                    <%= link_to "Category", categories_path %>
                </li>
                <li>
                   <%= link_to "Subcategory", subcategories_path %>
                </li>
                <li>
                   <%= link_to "Brand", brands_path %>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
  
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>