<!DOCTYPE html>
<html>
<head>
  <title>Mycart</title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
      <%= render "layouts/header" %>
      <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                       Admin Dashboard
                    </li>
                    <li>
                       <%= link_to "Product", products_path %>
                    </li>
                    <li>
                    <%= link_to "Order Detail", order_details_path %>
                    </li>
                    <li>
                        <%= link_to "Category", categories_path %>
                    </li>
                    <li>
                       <%= link_to "Subcategory", subcategories_path %>
                    </li>
                    <li>
                       <%= link_to "Brand", brands_path %>
                    </li>
                    <li>
                        <%= link_to "Role", roles_path %>
                    </li>
                    <li>
                        <%= link_to "Shipper", shippers_path %>
                    </li>
                </ul>
          </div>
    
          <div class="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
                           <%= render "layouts/alerts" %>
                           <%= yield %>     
                      </div>
                  </div>
              </div>
          </div>     
  </div>
</div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
  